force-app/main/default/flows/Q1_2.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>63.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assign_Account_Name</name>
        <label>Assign Account Name</label>
        <locationX>176</locationX>
        <locationY>242</locationY>
        <assignmentItems>
            <assignToReference>Account_Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Account_By_Id.Name</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Mandatory_Management_Checklist</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>No</name>
        <choiceText>No</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>No</stringValue>
        </value>
    </choices>
    <choices>
        <name>Yes</name>
        <choiceText>Yes</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Yes</stringValue>
        </value>
    </choices>
    <customProperties>
        <name>ScreenProgressIndicator</name>
        <value>
            <stringValue>{&quot;location&quot;:&quot;top&quot;,&quot;type&quot;:&quot;simple&quot;}</stringValue>
        </value>
    </customProperties>
    <environments>Default</environments>
    <formulas>
        <name>Q1_Checklist</name>
        <dataType>String</dataType>
        <expression>{!$Setup.Q1_Actions__c.Q1_Checklist__c}</expression>
    </formulas>
    <formulas>
        <name>Q1_Todo</name>
        <dataType>String</dataType>
        <expression>{!$Setup.Q1_Actions__c.Q1_Todo_List__c}</expression>
    </formulas>
    <formulas>
        <name>Q2_Checklist</name>
        <dataType>String</dataType>
        <expression>{!$Setup.Q2_Actions__c.Q2_Checklist__c}</expression>
    </formulas>
    <formulas>
        <name>Q2_Todo</name>
        <dataType>String</dataType>
        <expression>{!$Setup.Q2_Actions__c.Q2_Todo_List__c}</expression>
    </formulas>
    <interviewLabel>Q1_2 {!$Flow.CurrentDateTime}</interviewLabel>
    <isAdditionalPermissionRequiredToRun>true</isAdditionalPermissionRequiredToRun>
    <label>Q1_2</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Compliance_Checklist</name>
        <label>Create Compliance Checklist</label>
        <locationX>176</locationX>
        <locationY>458</locationY>
        <inputAssignments>
            <field>Q1_Question__c</field>
            <value>
                <elementReference>Q1_Checklist</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Q1_Response__c</field>
            <value>
                <elementReference>Q1_Response</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Q2_Question__c</field>
            <value>
                <elementReference>Q2_Checklist</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Q2_Response__c</field>
            <value>
                <elementReference>Q2_Response</elementReference>
            </value>
        </inputAssignments>
        <object>Compliance_Checklist__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_Account_By_Id</name>
        <label>Get Account By Id</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Account_Name</targetReference>
        </connector>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <sortField>CreatedDate</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>Mandatory_Management_Checklist</name>
        <label>Mandatory Management Checklist</label>
        <locationX>176</locationX>
        <locationY>350</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Create_Compliance_Checklist</targetReference>
        </connector>
        <fields>
            <name>AccountName</name>
            <fieldText>&lt;p style=&quot;text-align: right;&quot;&gt;&lt;strong style=&quot;color: rgb(0, 0, 0);&quot;&gt;&lt;em&gt;&lt;u&gt;&lt;span class=&quot;ql-cursor&quot;&gt;﻿&lt;/span&gt;&lt;/u&gt;&lt;/em&gt;&lt;/strong&gt;{!Account_Name}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Q1Todo</name>
            <fieldText>&lt;p&gt;{!Q1_Todo}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Q1Checklist</name>
            <fieldText>&lt;p&gt;{!Q1_Checklist}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Q1_Response</name>
            <choiceReferences>Yes</choiceReferences>
            <choiceReferences>No</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Q1 Response</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Q2Todo</name>
            <fieldText>&lt;p&gt;{!Q2_Todo}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Q2Checklist</name>
            <fieldText>&lt;p&gt;{!Q2_Checklist}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Q2_Response</name>
            <choiceReferences>Yes</choiceReferences>
            <choiceReferences>No</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Q2 Response</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Account_By_Id</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>Account_Name</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
